/*-------------------------------------------*/
body {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  background-color: rgb(230, 219, 209);
}
div {
  box-sizing: border-box;
}
.europass {
  width: auto;
  /*height: 50%;
  margin: 10px auto 0px auto;*/
  background-color: aquamarine;
}
.ask {
  list-style-type: none;
  text-align: right;
}
.answear {
  list-style-type: none;
}
table {
  margin-top: 10px;
  margin-bottom: 0px;
  border-collapse: collapse;
}
td {
  border: thin solid gray;
  padding: 0px 3px 0px 3px;
}
.leftTable {
  text-align: right;
  margin-right: 0px;
  margin-left: 232px;
}
.rightTable {
  text-align: center;
  margin-left: 40px;
  margin-bottom: 32px;
}
.noBorder {
  border: rgb(230, 219, 209);
}
.footer {
  width: auto;
  background-color: aquamarine;
  text-align: center;
  margin: 10px auto 0px auto;
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
.flex-element {
  flex-grow: 2;
}
